<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="pw-todo-item">
  <template>
    <style>
      :host {
        display: block;
      }
      /* [hidden], [rote], [id] [class] */
      :host([done]){
        text-decoration: line-through;
      }
    </style>
    <div>
    <input type="checkbox" checked="{{done::change}}">
    <template is="dom-if" if="[[showInput]]">
      <input type="text" value="[[value]]">
      <button on-click="_editHandler">Editar</button>
    </template>

    <template is="dom-if" if="[[!showInput]]">
    <span on-click="_showEdit">[[value]]</span>
    </template>

    <button on-click="_deleteHandler">x</button>
  </div>
  </template>

  <script>
    /**
     * `pw-todo-item`
     * primer componente
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwTodoItem extends Polymer.Element {
      static get is() { return 'pw-todo-item'; }
      static get properties() {
        return {
          value:{
            type: String,
            reflectToAttribute: true
          },
          done:{
            type: Boolean,
            value: false,
            reflectToAttribute: true,
            notify: true
          },
          prevValue: {
            type: String,
            reflectToAttribute: true,
            computed: '_computePreValue(value, done)'
          },
          showInput:{
            type: Boolean,
            value: false
          }
        };
      }

      _computePrevalue(value, done){
        if(done === false){
          return value;
        }
        return this.prevValue;
      }

      _fireCustomEvent(newValue, oldValue) {
        const doneEvent = new CustomEvent('pw-todo-item-changed',{
          bubbles: true, //llega hasta los limites del shadow DOM
          composed: true, // pasa los limites de shadow DOM
          detail: newValue
        });

        this.dispatchEvent(doneEvent);
      }

      _deleteHandler(e){
        const deleteEvent = new CustomEvent('pw-todo-item-delete',{
          bubbles: true,
          composed: true,
          detail: this.value
        });

        this.dispatchEvent(deleteEvent);
      }

      _showEdit(e){
        if (this.done === false){
          this.showInput = true;
        }
      }

      _editHandler(e){
        const input = this.shadowRoot.querySelector('#input');
        const editEvent = new CustomEvent('pw-todo-item-edit',{
          bubbles: true,
          composed: true,
          detail: {prevValue: this.prevValue, newValue: input.value}
        });
       
        this.dispatchEvent(editEvent);

      } 
}
    

    window.customElements.define(PwTodoItem.is, PwTodoItem);
  </script>
</dom-module>
